@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
.top-banner{
    display:flex;
    background:url("images/top-banner.png");
    background-repeat: no-repeat;
    padding:0 4%;
    margin-bottom: 120px;
}
.half-width{
    width:50%;
    padding:0 2%;
}
.half-width img{
    width:80%;
}
.half-width h1{
    font-size:50px;
}
.half-width .mehedi-color{
    color:orange;
}
.half-width p{
    color:dimgray;
}
.half-width a{
    text-decoration: none;
    padding:10px 40px;
    color:white;
    background:linear-gradient(45deg,lightsalmon,tomato);
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}
.dream-big{
    display:flex;
    padding:0 4% 0 0;
    background:url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 150px;
}
.exp-area{
    background:url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.exp-area h2{
    font-size:40px;
}
.exp-items{
    display:flex;
}
.exp-item{
    width:40%;
    margin:0 5%;
    padding:0 1%;
    margin-bottom: 150px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}
.exp-item h3{
    color:orange;
}
.exp-item p{
    color:dimgray;
}
#baby-web{
    border-left:5px solid;
    border-image:linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#full-web{
    border-left:5px solid;
    border-image:linear-gradient(salmon,tomato);
    border-image-slice: 1;
}
footer p{
    color:dimgray;
    text-align: center;
}